.flex {
  display:flex;
  flex-direction: column;
  padding-top: 10vh;
}

  h1 {
    text-align: center;
    border-bottom: 1px solid rgb(190,190,190);
    font-family: 'Roboto', sans-serif;
  }

.container rect {
  fill: steelblue;
}
.container rect:hover {
  fill: red;
}
.container text:y {
  font: 10px sans-serif;
  text-anchor: end;
}

.container text:x {
  font: 10px sans-serif;
  text-anchor: end;
}
