.container rect {
  fill: steelblue;
}
.container rect:hover {
  fill: red;
}
.container text:y {
  /* fill: white; */
  font: 10px sans-serif;
  text-anchor: end;
}

.container text:x {
  font: 10px sans-serif;
  text-anchor: end;
}
